

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.card-body {
   font-size: 22px;
}

.score {
    color: #8064A2;
    float: left;
    padding-left: 20px;
}

.time {
float: right;
padding-right: 20px;
}


h1 {
    padding-top: 150px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

p {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;

}

.btn {
    text-align: center;
    background-color: #8064A2;
    border-color: #8064A2;
    color: white;
    font-size: 22px;
    padding: 0px 12px 0px 12px;
}

