

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* HEADER */
#score {
    color: #8064A2 !important;
    padding-left: 20px;
}

#timer {
float: right;
padding-right: 20px;
}

/* START */
.start {
    /* display: none; */
}

.explanation {
    /* display: none; */
}

/* BODY */

.quizquestion {
    font-size: 22px;
    font-weight: bold; 
    padding-bottom: 20px;
}

h1 {
    padding-top: 150px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
}

p {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;

}

.btn {
    text-align: center;
    background-color: #8064A2;
    border-color: #8064A2;
    color: white;
    font-size: 22px;
    padding: 0px 12px 0px 12px;
}

